
body{
    margin: 0;
    text-align: center;
    color: #40514e;
    
}
h1{
    font-family: "Sacramento",serif;
    font-size: 562.5%;
    margin: 0;
}
h2{
    padding: 10px;
}
p{
    line-height: 2;
}

hr{
    border: dotted #7b113a;
    border-bottom: none;
    width:  4%;
    margin: 100px auto;
    
}
a{ 
    color: #8fd6e1;
    font-family: "Merriweather",serif;
    margin: 10px 20px;
    text-decoration: none;
    
}
a:hover{
    color: #EAF6F6;
}
/* 1em = 16px , 16px = 100% */ 


.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.intro{
    font-family: "Merriweather",serif;
    font-size: 2.5rem;
    margin: 0;
}

.top-container{
    background-color: #8fd6e1;
    text-align: center;
    position: relative;
    padding-top: 25%;

}
.middle-container{
    margin: 100px o;
}



.Pro{
    text-decoration: underline;    
}

.bottom-cloud{
    position: absolute;
}

.skill-row{
    width: 50%;
    margin : 100px auto 100px auto;
    line-height: 2;
    text-align: left;
    
}
.skill-row2{
    width: 50%;
    margin : 200px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.skill1-img{
    width: 25%;
    float: left;
    margin-right: 30px;
    clear: left;
   
}

.skill2-img{
    width: 20%;
    float: right;
    
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
.contact-me{
    margin: auto auto 50px;
}

.btn {
    background: #150e56;
    background-image: -webkit-linear-gradient(top, #150e56, #1597bb);
    background-image: -moz-linear-gradient(top, #150e56, #1597bb);
    background-image: -ms-linear-gradient(top, #150e56, #1597bb);
    background-image: -o-linear-gradient(top, #150e56, #1597bb);
    background-image: linear-gradient(to bottom, #150e56, #1597bb);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 1px 1px 3px #7b113a;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: auto auto 20px auto;
  }
  
  .btn:hover {
    background: #150e56;
    background-image: -webkit-linear-gradient(top, #150e56, #7b113a);
    background-image: -moz-linear-gradient(top, #150e56, #7b113a);
    background-image: -ms-linear-gradient(top, #150e56, #7b113a);
    background-image: -o-linear-gradient(top, #150e56, #7b113a);
    background-image: linear-gradient(to bottom, #150e56, #7b113a);
    text-decoration: none;
  }
  .bottom-container{
    background-color: #1597bb;
    padding: 50px 0 20px;
  }


